# Analisis de Datos Financieros con Yahoo Finanzas

## Preparacion de los datos

Importamos las librerias que utilizaremos

In [3]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

Creamos una funcion generica que utilizaremos para descargar los datos de las distintas empresas

In [4]:
def df(name:str):
    return yf.download(name, 
                start="2014-01-01", 
                progress=False,
)

Importaremos los datos de Amazon, Netflix, IBM y SP500

In [5]:
df_amazon = df("AMZN")
df_netflix = df("NFLX")
df_ibm = df("IBM")
df_sp500 = df("SPY")

Solo utilizaremos las ultimas dos columnas (Precios de Cierre y Volúmenes)

In [6]:
df_amazon = df_amazon.iloc[:,[4,5]]
df_netflix = df_netflix.iloc[:,[4,5]]
df_ibm = df_ibm.iloc[:,[4,5]]
df_sp500 = df_sp500.iloc[:,[4,5]]

df_amazon

             Adj Close    Volume
Date
2014-01-02   19.898500  42756000
2014-01-03   19.822001  44204000
2014-01-06   19.681499  63412000
2014-01-07   19.901501  38320000
2014-01-08   20.096001  46330000
...                ...       ...
2023-04-17  102.739998  39919500
2023-04-18  102.300003  39790500
2023-04-19  104.300003  58398900
2023-04-20  103.809998  57696900
2023-04-21  106.959999  86689700

[2342 rows x 2 columns]

Unimos las 4 empresas en un solo dataset y renombramos las columnas

In [28]:
columns = []
for x in ["AMZN ", "NFLX ", "IBM ", "SPY "]:
    for y in range(2):
        columns.append(x+df_amazon.columns[y])
datas = [df_amazon["Adj Close"],df_amazon["Volume"],df_netflix["Adj Close"],df_netflix["Volume"],df_ibm["Adj Close"],df_ibm["Volume"],df_sp500["Adj Close"],df_sp500["Volume"]]
df_yahoo = pd.DataFrame()
for i in range(len(columns)):
    df_yahoo[columns[i]] = datas[i]

Comprobamos el nuevo DataFrame y lo guardamos para no tener que descargar los datos nuevamente

In [32]:
print(df_yahoo)

import csv

df_yahoo.to_csv('df_yahoo.csv', sep=",")

            AMZN Adj Close  AMZN Volume  NFLX Adj Close  NFLX Volume
Date
2014-01-02       19.898500     42756000       51.831429     12325600  \
2014-01-03       19.822001     44204000       51.871429     10817100
2014-01-06       19.681499     63412000       51.367142     15501500
2014-01-07       19.901501     38320000       48.500000     36167600
2014-01-08       20.096001     46330000       48.712856     20001100
...                    ...          ...             ...          ...
2023-04-17      102.739998     39919500      332.720001      6136000
2023-04-18      102.300003     39790500      333.700012     17944500
2023-04-19      104.300003     58398900      323.119995     22128300
2023-04-20      103.809998     57696900      325.350006      9947800
2023-04-21      106.959999     86689700      327.980011      6342600

            IBM Adj Close  IBM Volume  SPY Adj Close  SPY Volume
Date
2014-01-02     120.876122     4755639     154.400253   119636900
2014-01-03     121.599342     4250107     154.374893    81390600
2014-01-06     121.182358     4254919     153.927551   108028200
2014-01-07     123.599487     6205186     154.872910    86144200
2014-01-08     122.465858     4815470     154.906693    96582300
...                   ...         ...            ...         ...
2023-04-17     127.820000     3662700     413.940002    66436400
2023-04-18     127.779999     3193800     414.209991    63560000
2023-04-19     126.320000     7014400     414.140015    55227300
2023-04-20     126.360001     9749600     411.880005    75840400
2023-04-21     125.730003     6724300     412.200012    73436100

[2342 rows x 8 columns]